*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  height: 500px;  
  width: 100%;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 47%;
    margin-top: 315px;
    position: absolute;

}
p{
    padding: 30px;
    color: #fff;
}