*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height: 500px;
    width: 58vw;
    margin-left:320px;
    margin-top: 125px;
    border-radius:20%;
    border: solid 3px;
    background-color:#0000f0; 
}

#display{
    height: 350px;
    width: 50vw;
    margin-top: 70px;
    position: absolute;
    background-color:#000;
    border-radius: 20%;
    border: solid 4px;
    margin-bottom: 10px;
    margin-left: 50px;
}


#time{
    height: 210px;
    width:45vw ;
    margin-left: 36px;
    margin-top:65px;
    padding-top: 60px;
    padding-left:104px;
    font-size: 80px;
    color: red;
    font-family: digital;
    
}


