*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 100%;
}

#time{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 47%;
}