*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height: 500px;
    width: 58vw;
    margin-left:320px;
    margin-top: 125px;
    border-radius:20%;
    border: solid 3px;
    background-color: #000; 
}

#display{
    height: 350px;
    width: 50vw;
    margin-top: 70px;
    position: absolute;
    background-color:rgb(28, 18, 18);
    border-radius: 20%;
    border: solid 4px;
    margin-bottom: 10px;
    margin-left: 50px;
}

#time{
    height: 210px;
    width:40vw ;
    margin-left: 64px;
    margin-top:65px;
    padding-top: 60px;
    padding-left:104px;
    font-size: 96px;
    color: #000;
    font-family: digital;
    background-color:#507850;
}



