*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
}
body{
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    margin:20px 100px ;
    
}
img{
    width: 150px ;
    height:150px ;

}
hr{
    border-top: 5px dotted;
    margin-top: 10px;
    margin-bottom: 10px;
}
#introduction{
    text-align: center;

}
h2{
    text-align: center;
    text-decoration: underline;
}
h3{
    text-align: center;
    text-decoration: underline; 
}

#Hobbies{
    padding: 20px;
    background-color: antiquewhite;
}
.favmovie{
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
}
#links{
    text-align: center;
}


