*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 70px;
    background-color: rgb(112, 112, 233);
  padding: 10px;
  margin-bottom: 50px;
}

#left{
    text-align: left;
    padding: 10px;
    margin-left: 80px;
}
#right{
    text-align: right;
    margin-top: -40px;
    margin-right: 400px;   
}
#section1{
    text-align: center;
}
#head{
    font-size:50px;

}
head a{
    margin: 20px;
}
