*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-left: 45vw;
    margin-top: 45vh;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(87, 87, 189);
    border-radius: 5px;
}

#random{
    margin-left: 40px;
    margin-bottom: 10px;
}