*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 200px;
    width: 200px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 200px;
    
}

/* #green-box{
    height: 350px;
    width: 350px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#orange-box{
    height: 350px;
    width: 350px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 10px;   
}

#black-box{
    height: 350px;
    width: 350px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 200px;   
}

.yellow-box{
    height: 350px;
    width: 350px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 10px;  
}

.blue-box{
    height: 350px;
    width: 350px;
    float: left;
    border:solid 5px;
    margin-top: 10px;
    margin-left: 10px;   
}

@media screen and (max-width: 786px) {
   .red-box{
    clear: both;
   } 
   .green-box{
    clear: both;
   }
   .orange-box{
    clear: both;
   }
   .black-box{
    clear: both;
   }
   .yellow-box{
    clear: both;
   }
   .blue-box{
    clear: both;
   }
} */